.Wrapper {
  height: 120px;
  display: block;
  position: relative;
}

.AppBar {
  background-color: #fff !important;
  display: flex;
  justify-content: center;
  color: #000;
  height: 120px;
}

.Toolbar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Mobile {
  display: none !important;
}

@media (max-width: 768px) {
  .AppBar,
  .Wrapper {
    height: 80px;
  }
}

.MText {
  text-align: center;
}

@media (max-width: 600px) {
  .Desktop {
    display: none !important;
  }

  .Mobile {
    display: block !important;
  }
}
