.AppBar-wrapper {
  height: 120px;

  .AppBar {
    background-color: #fff !important;
    display: flex;
    justify-content: center;
    color: #000;
    height: 120px;
  }

  .Toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Logo {
      height: 70px;
      width: 70px;
    }

    .Items--wrapper {
      .Item--link {
        font-size: 16px;
        color: #222;
        margin-right: 80px;
        line-height: 20px;
        text-decoration: none;

        &.active {
          color: #f0d8e6;
          font-weight: bold;
        }
        &:hover {
          text-decoration: none;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
