.About {
  padding: 80px 0;
}

.Wrapper {
  margin: 0 auto;
  width: 577px;
}

.About p {
  font-style: normal;
  padding: 0 7.5px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  font-weight: 400;
}

.About p:last-child {
  margin-bottom: 0;
}

.Wrapper .FirstRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 217px;
  margin-bottom: 60px;
}

.FirstRow .Text {
  width: 280px;
  margin-right: 80px;
  text-align: right;
  box-sizing: border-box;
}

.FirstRow .Text p {
  text-align: right;
  padding-right: 0;
}

.Avatar {
  display: flex;
  justify-content: center;
}

.Avatar img {
  border-radius: 100%;
}

@media (max-width: 768px) {
  .About {
    padding: 40px 0;
  }
  .FirstRow .Text {
    margin-right: 40px;
  }
}

@media (max-width: 600px) {
  .Wrapper {
    width: auto;
  }

  .Wrapper .FirstRow {
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .About {
    padding: 20px 0;
  }

  .FirstRow .Avatar {
    width: 100%;
    padding-bottom: 30px;
  }

  .FirstRow .Text {
    width: 100%;
  }

  .FirstRow .Text p {
    text-align: center;
  }

  .About p {
    margin-bottom: 20px;
  }
}
