.Contact {
  background-color: #222;
  padding-bottom: 80px;
  padding-top: 40px;

  .Contact--header {
    margin: 0 0 80px 0;
    text-align: center;
    h1 {
      color: #fafafa;
      font-weight: normal;
      font-size: 80px;
    }
  }
  .Contact--contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .Contact--formWrapper {
      width: 203px;
      .Contact--form {
        .Form--row {
          display: flex;
          flex-direction: column;
          margin-bottom: 21px;
          label {
            color: #fafafa;
            font-size: 12px;
            font-weight: normal;
          }
          input:focus {
            outline: none;
          }
          input {
            height: 40px;
          }
          textarea {
            height: 140px;
          }
        }

        .Contact--submitButton {
          padding: 10px 38px;
          text-transform: uppercase;
          margin: 0;
        }
      }
    }

    .Contact--mediaWrapper {
      margin-left: 80px;

      p {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fafafa;
        text-align: center;

        &:first-child {
          margin-bottom: 10px;
        }
      }

      .Media--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fafafa;

        div {
          padding: 20px;
        }
      }
    }
  }
}
