.CommonBanner {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.Banner--background::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  background-color: rgba(240, 216, 230, 0.75);
}

.Banner--background {
  height: 400px;
}

.Banner--backgroundImage {
  width: 100%;
  height: 400px;
}

.Banner--content {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.Banner--content h1 {
  font-size: 80px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.Banner--content h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  color: rgba(34, 34, 34, 0.5);
}
