.Item--link {
  font-size: 16px;
  color: #222;
  margin-right: 80px;
  line-height: 20px;
}
.Item--link:last-child {
  margin-right: 0;
}

.Item--link.active {
  color: #f0d8e6;
  font-weight: bold;
}

.Item--link:hover {
  text-decoration: none;
}
