.Latest--wrapper {
  .Latest--header {
    text-align: center;
    padding: 80px 0;
    h1 {
      font-weight: normal;
      margin: 0;
      padding: 0;
      font-size: 80px;
    }
  }

  div {
    .react-photo-gallery--gallery {
      div {
        img {
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          height: 100%;
          max-width: 100%;
          object-fit: fill;
          transition: 250ms;

          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }

  .Latest--section {
    text-align: center;
    font-weight: normal;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 40px;
      font-weight: normal;
      margin-bottom: 40px;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 80px;
    }
  }
}
