.Grid {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.Category {
  overflow: hidden;
  position: relative;
  padding: 16px !important;
}

.TextContainer {
  position: absolute;
  margin: 16px;
  width: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  min-height: 15%;
  bottom: 0;
  left: 0;
}

.TextContainer span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 32px);
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(100%);
  transition: 300ms;
}

.Category:hover .TextContainer span {
  transform: translateY(0);
}

.Item {
  position: relative;
  filter: grayscale(60%) contrast(120%);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: 300ms;
}

.Category:hover .Item {
  filter: grayscale(0) contrast(100%);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}
