.Contact {
  background-color: #222;
  padding-bottom: 80px;
  padding-top: 40px;
}

.Contact--header {
  margin: 0 0 80px 0;
  text-align: center;
}

.Contact--header h1 {
  color: #fafafa;
  font-weight: normal;
  font-size: 80px;
}

.Contact--contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact--formWrapper {
  width: 203px;
}

.Form--row {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}

.Form--row label {
  color: #fafafa;
  font-size: 12px;
  font-weight: normal;
}

.Form--row input:focus {
  outline: none;
}

.Form--row input {
  height: 40px;
}

.Form--row textarea {
  height: 140px;
}

.Contact--submitButton {
  padding: 10px 38px;
  text-transform: uppercase;
  margin: 0;
}

.Contact--mediaWrapper {
  margin-left: 80px;
}

.Contact--mediaWrapper p {
  padding: 0;
  color: #fafafa;
  text-align: center;
}

.Contact--mediaWrapper p:first-child {
  margin-bottom: 10px;
}

.Media--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
}
.Media--wrapper div {
  padding: 20px;
}
