.About {
  background-color: rgba(240, 216, 230, 0.75);
  padding: 80px 0 48px 0;
}

.About--header {
  text-align: center;
  padding-bottom: 40px;
}

.About--header h1 {
  font-size: 80px;
  font-weight: normal;
}

.About--section {
  display: flex;
  justify-content: center;
  height: 247px;
}

.About--button {
  float: right;
}

.About--imageWrapper {
  margin-left: 80px;
}

.About--image {
  border-radius: 100%;
}
.About--text {
  padding-top: 19px;
  text-align: right;
  word-wrap: wrap;
}

.About--text p {
  margin-bottom: 15px;
}
